@import url('common.css');

#yt-bookmark-container {
    padding: 1rem;
    width: 360px;
    max-height: 430px;
    overflow-y: scroll;
}

#yt-bookmark-container header {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--main-green);
}

#yt-bookmark-container header img {
    height: 100%;
    display: inline-block;
}

#yt-bookmark-container .bookmarks {
    margin: 1rem 0;
    font-size: 1rem;
}

#yt-bookmark-container .bookmarks ul {
    list-style-type: none;
}

p#no-bookmarks-text {
    text-align: center;
    color: var(--yellow);
    font-weight: bold;
    font-size: 1rem;
    visibility: hidden;
}

div.bookmark-item {
    display: flex;
    padding: 1.5rem 1rem;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid var(--main-green);
}

/* https://stackoverflow.com/a/22270199/3486030 */
div.bookmark-item:hover:not(:has(*:hover)) {
    background-color: var(--light-green)
}

div.bookmark-item:active:not(:has(*:active)) {
    background-color: var(--main-green);
}

div.bookmark-item>* {
    pointer-events: none;
    user-select: none;
}

.bookmark-timestamp,
.bookmark-date {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 2;
    flex-grow: 1;
}

.small-text {
    font-size: .8rem;
}

.bookmark-date p:nth-child(2),
.bookmark-timestamp p:nth-child(2) {
    font-style: italic;
}

.bookmark-item-actions {
    flex: 1;
    flex-grow: 0;
    align-self: stretch;
    align-content: center;
}

.delete-bookmark-item {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    font-weight: bold;
    pointer-events: fill;
    height: 100%;
    width: 200%;
}

.delete-bookmark-item img {
    pointer-events: none;
    user-select: none;
}

.delete-bookmark-item:active {
    background-color: var(--main-green);
}

.yt-bookmark-video-title {
    display: flex;
    gap: 5px;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}

.yt-bookmark-video-title p:nth-child(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#clear-btn {
    width: 70px;
    background-color: var(--yellow);
    color: var(--black);
    outline: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 600;
}